:root{
  --x-prev: 0%;
  --x-new: 100%;
}
.main{
  border: 1px solid black;
}
.ProgressBarMain{
  border: 1px solid black;
  min-width:480px;
  min-height:8px;
  background-color: lightgrey;
}
@keyframes updateprogressbar{
  from{
    width: var(--x-prev);
  }
  to{
    width: var(--x-new);
  }
}
@keyframes barberpole{
  from{
    
  }
  to{
    
  }
}
.updatebutton{
  height: 2em;
}
.progressing{
  animation: updateprogressbar 1s infinite cubic-bezier(0.77, 0.65, 1,-0.14);
  animation-play-state: running;
}
.progress{
  display: block;
  background-color: green;
  min-height: 8px;
  min-width: 1px;
  width:50%;
}
